*.pyc
__pycache__
.idea
*.png
*.jpg
*.bat
*.ps
*.pyc
venv
vendor
icons
config
cmder_mini
bin
PCBPlugin5
*log*
enum/__pycache__/data_management.cpython-38.pyc
enum/__pycache__/data_management.cpython-38.pyc
enum/__pycache__/lexicon.cpython-38.pyc
/enum/__pycache__
*.pyc
enum/.idea/.name
